<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Form Validation</title>
    </head>
    <body>
        <form action="#" th:action="@{/}" th:object="${personForm}" method="post">
            <input type="text" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
            <br><br>

            <input type="text" th:field="*{age}">
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</span>
            <br><br>

            <button type="submit">Submit</button>       
        </form>
    </body>
</html>